.btn {
  display: inline-flex;
  align-items: center;
  border-radius: 10rem;
  font-weight: 500;
  font-size: 1.5rem;
  border: 1px solid transparent;
  transition: color 0.3s, filter 0.3s, background-color 0.3s;

  &-primary {
    line-height: 4rem;
    color: $black-brand;
    background-color: $yellow-brand;
    border-color: $yellow-brand;
    padding: 0 5rem;

    &:hover {
      filter: brightness(0.9);
    }
  }
  &-outline {
    line-height: 4.8rem;
    border-color: #ffffff;
    color: #ffffff;
    padding: 0 4rem;

    &:hover {
      background-color: #ffffff;
      color: $black-brand;
    }
  }
  &-black {
    line-height: 5.6rem;
    padding: 0 8rem;
    font-weight: 600;
    transition: all 0.3s;
    &:hover {
      border-color: $black-brand;
      background-color: $black-brand;
      color: #ffffff;
    }
    &.active {
      border-color: $black-brand;
      background-color: $black-brand;
      color: #ffffff;
    }
  }
}
